.places__link {
  margin: 12px 0 0;
  order: 2;
  font-family: Inter, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
}

.places__link:hover {
  cursor: pointer;
  opacity: 0.8;
}