.cover__subtitle {
  margin: 32px 0 0 0;
  display: flex;
  max-width: 360px;
  font-family: Inter, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  z-index: 3;
}

@media only screen and (max-width: 320px) {
  .cover__subtitle {
    margin-top: 15px;
    font-size: 14px;
    line-height: 16px;
  }
}