.places__place_paragraph {
  font-family: Inter, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .places__place_paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

/* Макет фигмы разваливается при других условиях */

@media only screen and (max-width: 320px) {
  .places__place_paragraph {
    margin: -19px 16px 0;
    font-size: 16.5px;
    line-height: 25.5px;
  }
}