.footer {
  max-width: 100%;
  margin: 92px 48px 24px 48px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px 24px;
  }
}

@media only screen and (max-width: 320px) {
  .footer {
    flex-flow: column;
    margin: 55px 118px 19px 16px;
  }
}

@media only screen and (max-width: 570px) {
  .footer {
    flex-flow: column;
    margin: 55px 118px 19px 16px;
  }
}