.places__website {
  grid-area: 1/2/2/3;
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-self: flex-end;
}

@media only screen and (max-width: 320px) {
  .places__website {
    display: none;
  }
}